<!DOCTYPE html>

  <body>


<section class="ecommerces p-60 p-lg-100 text-center" id="ecommerces-1">
  <div class="container">
    <h1>Current Stations</h1>
    <ul class="nav-tabs mb-40" id="ecommerces-tabs">
      <li><a href="#" id='addStation' data-toggle="stations-list">All Stations</a></li>
      <li><a href="#" id='addStation' data-toggle="tab-route-dist">Route Distances</a></li>
      <li><a href="#" id='addRoute' data-toggle="tab-number-route">Number of Routes</a></li>
      <li><a href="#" id='shortRoute' data-toggle="tab-short-route">Shortest Route</a></li>
      <li><a href="#" id='addRouteStations' data-toggle="tab-input">Input station and Routes</a></li>
    </ul>

    <div class="tabs-content mb-30" id="ecommerces-1-tabs">

    <!-- FIND DISTANCES -->
      <div class="tab-panel" id="tab-route-dist">
        <section class="forms text-center p-60 p-lg-100">
          <h2 style="margin-bottom: 10px">Find the distance of a given route</h2>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-5">
                <form action="<%= find_route_distance_routes_url %>" method='GET' class="distance_form">
                  <div>
                    <input class="form-control form-control-light mb-20" name="stations" type="text" placeholder="Enter route seperated by hyphen, eg: A-B-C"/>
                  </div>
                  <button class="btn w-full no-padding" appendage='is the total distance.'><span>Calculate total distance</span></button>
                </form>

                <div class="answer"></div>
              </div>
            </div>
          </div>
        </section>
      </div>

    <!-- FIND ROUTES -->
      <div class="tab-panel" id="tab-number-route">
        <section class="forms text-center p-60 p-lg-100">
          <h2 style="margin-bottom: 10px">Find Number of routes from an Origin to a Destination</h2>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-5">
                <form action="<%= find_trips_with_stops_stations_url %>" method='GET'>
                  <div>
                    <select class="form-control form-control-light mb-20" name="origin" type="text" placeholder="Enter route origin">
                      <option value="">Select route origin</option>
                      <% Station.all.each do |station| %>
                        <option value="<%= station.name %>"><%= station.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <div>
                    <select class="form-control form-control-light mb-20" name="destination" type="text" placeholder="Enter route destination">
                      <option value="">Select route destination</option>
                      <% Station.all.each do |station| %>
                        <option value="<%= station.name %>"><%= station.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <div>
                    <select class="form-control form-control-light mb-20" id='type-selection' name="type" type="text" placeholder="Enter route destination">
                      <option value="">Please select query type</option>
                      <option value="max_dist">Find By Max Distance</option>
                      <option value="max_stops">Find By Max Stops</option>
                      <option value="exact_stops">Find By Exact Stops</option>
                    </select>
                  </div>

                  <div>
                    <input class="form-control form-control-light mb-20" name="maximum" type="number" placeholder=""/>
                  </div>

                  <button class="btn w-full no-padding" appendage="routes"><span>Find Routes</span>
                  </button>
                </form>

                <div class="answer"></div>
                <div class="route"></div>
              </div>
            </div>
          </div>
        </section>

      </div>
    
      <!-- SHORT ROUTES -->
      <div class="tab-panel" id="tab-short-route">
        <section class="forms text-center p-60 p-lg-100">
          <h2 style="margin-bottom: 10px">Find shortest route from an Origin to a Destination</h2>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-5">
                <form action="<%= find_shortest_route_routes_url %>" method='GET'>
                  <div>
                    <select class="form-control form-control-light mb-20" name="origin" type="text" placeholder="Enter route origin">
                      <option value="">Select route origin</option>
                      <% Station.all.each do |station| %>
                        <option value="<%= station.name %>"><%= station.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <div>
                    <select class="form-control form-control-light mb-20" name="destination" type="text" placeholder="Enter route destination">
                      <option value="">Select route destination</option>
                      <% Station.all.each do |station| %>
                        <option value="<%= station.name %>"><%= station.name %></option>
                      <% end %>
                    </select>
                  </div>
                  <button class="btn w-full no-padding" appendage="miles"><span>Find Route</span>
                  </button>
                </form>

                <div class="answer"></div>
                <div class="route"></div>
              </div>
            </div>
          </div>
        </section>

      </div>

      <!-- INPUT STRING -->
      <div class="tab-panel" id="tab-input">

        <section class="forms text-center p-60 p-lg-100">
          <h2 style="margin-bottom: 10px">Input additional stations and routes</h2>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-lg-5">
                <form action="<%= parse_string_into_stations_and_routes_stations_url %>" method='POST'>
                  <div>
                    <input class="form-control form-control-light mb-20" name="string" type="text" placeholder="Enter graph, eg: 'AB2, BC4, CD5, ...' "/>
                  </div>


                  <input type='submit' class="btn w-full no-padding" value='Parse Input' />
                </form>
              </div>
            </div>
          </div>
        </section>


      </div>


      <div class="tab-panel active" id="stations-list">
        <% @stations.each do |station| %>
        <!-- Station item -->
            <div class="panel h-400 with-overlay p-30 d-flex justify-content-center">
              <div class="align-self-end">
                <h3>Name: <b><%= station.name %></b></h3>
                <p>$238</p>
              </div>
              <div class="with-overlay__content d-flex justify-content-center">
                <div class="align-self-center ph-30">
                  <h3 class="mb-10">Current routes for station <b><%= station.name %></b></h3>
                  <% station.origins.each do |d| %>
                    <div class="row">
                      <b> <%= d.destination.name %> </b>:  <%= d.distance  %> miles
                      
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    </div>
    <script>


      // todo: make option for a second page instead of a SPA

      $("#type-selection").change(function(event) {
        var holdText = "make a selection ^";
        if ($(this).val() == 'max_stops') {
          holdText = "Enter maximum stops..."
        } else if ($(this).val() == 'max_dist') {
          holdText = "Enter maximum distance..."
        } if ($(this).val() == 'exact_stops') {
          holdText = "Enter exact stops..."
        }
        
        $("input[name='maximum']").attr('placeholder', holdText);
      });


      $('#ecommerces-tabs a').click(function (e) {
        e.preventDefault()
        $('.tab-panel').removeClass('active');
        $('#' + $(this).attr('data-toggle')).addClass('active');
      });

      $('button').click(function(e) {
        e.preventDefault();
        $(this).parent('form').slideUp(500);
        $(this).parent('form').parent('.col-12').find('.answer').text('working...')

        var that = this;

        $.ajax({
          url: $(this).parent('form').attr('action'),
          data: $(this).parent('form').serialize(),
          method: $(this).parent('form').attr('method')
        })
        .done(function(data) {
          console.log("success");
          var ans = JSON.parse(data).answer;
          $(that).parent('form').parent('.col-12').find('.answer').css('color', 'green');
          $(that).parent('form').parent('.col-12').find('.answer').text(ans + ' ' + $(that).attr('appendage'));
          var route = JSON.parse(data).route;
          if (route != undefined) {
            var routes = "<ul>";
            for (let i = 0; i < route.length; i++) {
              routes += "<li>" + route[i] + "</li>"
            }

            routes += "</ul>"
            $(that).parent('form').parent('.col-12').find('.route').html(routes);
          }
        })
        .fail(function($xhr) {
          console.log("error");
          var err = JSON.parse($xhr.responseText).error;
          $(that).parent('form').parent('.col-12').find('.answer').css('color', 'red');
          $(that).parent('form').parent('.col-12').find('.answer').text(err)
          $(that).parent('form').parent('.col-12').find('.route').text('');
        })
        .always(function(data) {
          $(that).parent('form').slideDown(500);
        });

        
      });
    </script>
  </div>
</section>


<!-- FOOTER -->
<section class="footers text-center text-sm-left" id="footers-11">
  <div class="p-40 ph-15 ph-sm-30 ph-lg-70">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-lg-auto mb-20 mb-lg-0">
        <div class="row justify-content-center align-items-center">
          <div class="col-auto mb-20 mb-sm-0">
            <div class="navbar-header"><a href=""></a></div>
          </div>
          <div class="col-auto">
            <p>&copy; Matthew Lao</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-auto">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-sm-auto mb-20 mb-sm-0">
            <p>San Francisco CA 94105, USA</p>
          </div>
          <div class="col-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  

</body>


<style>
  .h-400 {
    height: 100px;
  }

  .answer {
    padding: 2%;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
  }

  li {
    list-style: none;
  }

  .tabs-content > .tab-panel.active {
    /*display: inline-block;*/
  }
</style>
